.home_page {
  background-image: url('../IMg/Asa.jpg');
  width: 100%;
  object-fit: cover;
  background-position: center;
  overflow: hidden;
  background-repeat: no-repeat;
  max-width: 1640px;
  margin: auto;

}

